/*
* Can be useful for declaring global variables
*/
:root {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

input,
textarea,
button {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	outline: none;
	appearance: none;
	text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
	outline: none;
}